@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="jumbotron">
        <h1>You're in web view </h1>
        <p>Which view would you prefer?</p>
    </div>


    <a href="index.html" " class="btn btn-info btn-lg">Web View</a>


    <a href="m.index.html" " class="btn btn-info btn-lg">Mobile View</a>


 




